
<h1>
    
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <p class="panel-title">メールアドレス</p>
  </div>
  <div class="panel-body">
   <%= @user.email %>
  </div>
</div>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <p class="panel-title">プロフィール</p>
  </div>
  <div class="panel-body">
   <%= @user.profile %>
  </div>
</div>
<br>



    (<%= link_to "編集する" , edit_user_path(@user) %>)
